<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name = "Description", content="This is my CV website">
	<link rel="stylesheet" type="text/css" href="style.css">
	<title>Phillip Todorov</title>
</head>
<body style="background-color: rgb(70, 72, 110); text-align: center;">
	<h1 style="color: white">Phillip Todorov</h1>
	
	<hr>

	<div class="paragraph">
		<div>
			<ul>

				<li><button type="button">Work Experience</button></li>
				<li><button type="button">Projects</button></li>
				<li><button type="button">Technical Strengths</button></li>
				<li><button type="button">Education & Links</button></li>
			</ul>
		</div>
		

		
		<div>
			Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
		</div>


		<div>
			<img class="photo" src="Images/profile_image_placeholder.jpg", alt="Profile Pic">		
		</div>	


	</div>

	
</body>
</html>